:root {
    --orange: #ff4622;
    --plotis: 1000px;
    --soninis-atstumas: calc((100% - var(--plotis)) / 2);
    --section-width: calc(var(--plotis)) + var(--soninis-atstumas);
    --text-width: calc(var(--plotis) * 0.4);
    --text-margin: calc(var(--plotis) * 0.1);
    --image-width: calc(100% - var(--plotis) / 2);
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
header {
    display: inline-block;
    width: var(--plotis);
    margin-left: var(--soninis-atstumas);
}
header > img {
    float: left;
    height: 40px;
}
nav {
    float: right;
    margin-top: 20px;
}
nav > a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 20px;
    margin-left: 20px;
    border-bottom: 4px solid transparent;
}
nav > a:hover {
    border-color: var(--orange);
}
nav > a:first-child {
    margin-left: 0;
    border-color: var(--orange);
}
section {
    display: inline-block;
    width: var(--section-width);
    margin-left: var(--soninis-atstumas);
}
div {
    width: var(--text-width);
    float: left;
    margin-right: var(--text-margin);
    margin-top: 80px;
}
h1 {
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 10px;
}
h1 > span {
    color: var(--orange);
}
p {
    display: inline-block;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 10px;
}
div > a {
    display: inline-block;
    background-color: var(--orange);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 3px solid var(--orange);
    border-radius: 5px;
    margin-top: 20px;
}
div > a:hover {
    background-color: #ff472298;
    border-color: #ff472298;
}
section > img {
    width: var(--image-width);
    float: left;
}

@media (max-width: 1000px) {
    :root {
        --plotis: 900px;
        --soninis-atstumas: calc((100% - var(--plotis)) / 2);
        --section-width: calc(var(--plotis)) + var(--soninis-atstumas);
        --text-width: calc(var(--plotis) * 0.4);
        --text-margin: calc(var(--plotis) * 0.1);
        --image-width: calc(100% - var(--plotis) / 2);
    }
    div {
        margin-top: 40px;
    }
}

@media (max-width: 900px) {
    :root {
        --plotis: 800px;
        --soninis-atstumas: calc((100% - var(--plotis)) / 2);
        --section-width: calc(var(--plotis)) + var(--soninis-atstumas);
        --text-width: calc(var(--plotis) * 0.4);
        --text-margin: calc(var(--plotis) * 0.1);
        --image-width: calc(100% - var(--plotis) / 2);
    }
    nav > a {
        font-size: 16px;
    }
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 14px;
    }
}
@media (max-width: 800px) {
    :root {
        --plotis: 700px;
        --soninis-atstumas: calc((100% - var(--plotis)) / 2);
        --section-width: calc(var(--plotis)) + var(--soninis-atstumas);
        --text-width: calc(var(--plotis) * 0.4);
        --text-margin: calc(var(--plotis) * 0.1);
        --image-width: calc(100% - var(--plotis) / 2);
    }
}
@media (max-width: 730px) {
    :root {
        --plotis: 100vh;
        --soninis-atstumas: calc((100% - var(--plotis)) / 2);
        --section-width: calc(var(--plotis)) + var(--soninis-atstumas);
        --text-width: calc(var(--plotis) * 0.4);
        --text-margin: calc(var(--plotis) * 0.1);
        --image-width: calc(100% - var(--plotis) / 2);
    }
    header > img {
        display: flex;
        justify-content: center;
        float: none;
    }
}
